#root {
    margin: 0 auto;
}
.nav-links {
    background-color: #171717;
    padding: 10px 20px;
    margin-bottom: 20px;
  
    &__item {
      display: inline-block;
      margin-right: 10px;
  
      &:last-child {
        margin-right: 0;
      }
  
      .nav-link {
        color: #55ff00;
        text-decoration: none;
        padding: 10px;
  
        &:hover {
          background-color: #62b700;
        }
      }
    }
}

div {
  background-color: yellow;
}